#form-container {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}

#form-box {
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    /*border: 1px solid #269abc;*/
}

#h1{
    font-size: 14px;
}

#topo{
    
}
